@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd,
a,
input,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
